

h1{
    color: #c0262c;
    font-size: 2.5em; /* 40/16=2.5*/
    border-bottom: #c0262c solid thin;
    padding-bottom: 7px;
}
h2{
    font-size: 1.75; /* 28/16=1.75 */
    background: #c0262c url(../multimidia/back-bolinha.gif) repeat top center;
    color:#fff;
    letter-spacing: 1.em;
    padding: 7px;
    width: 316px;
}

p{
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
}
p::first-line{
font-size: 1.17em;
font-variant: small-caps;    
font-weight: bolder;
font-style: italic;
}
hr{
    border-color: #c0262c;
}
body{
font-family:Helvetica, Arial, sans-serif;
}

/*p치gina produtos - tabela*/
#produtos table{
    width: 600px;
    margin: 50px auto 30px;
    text-align: center;
}
#produtos th, #produtos td {
    border: #999 solid 1px;
    padding: 5px;
}
#produtos table {
    width: 600px;
    margin: 50px auto 30px;
    text-align: center;
    border-collapse: collapse;
}
table {
    border-top: solid 3px #777;
}
tr {
    border-top: solid 3 3px #777;
    border-bottom: solid 3px #777;
}
th, td {
    padding: 7px;
}
#produtos caption {
    background-color: #999;
    color: #fff;
    padding: 15px 0;
    font-size: 1.5em;
}
caption{
    caption-side: bottom;
    background-color: #777;
    color: #fff;
    padding: 10px 0;
}
#produtos td [colspan] {
    font-style: italic;
    font-weight: bold;
    color: #999
}
#produtos tr:hover {
    background-color: #FEFF76;
}   
/*pagina boletim - formulario*/
form{
    background-color: #999;
    margin: 30px 0;
    padding: 20px;
    border-radius: 0 15px;
}
input [type="submit"] {
    background-color: #c0262c;
    background: linear-gradient(to bottom, #6b1516 0%, #c0262c
    30%, #c0262c 70%, #6b1516 100%);
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    color: #fff;
    padding: 10px 30px;
    margin: 20px 0;
    text-shadow: 2px 2px 5px #000;
    cursor: pointer;
}
input#nome, input#email {
    background-color: transparent;
    border: none;
    border-bottom: #000 solid 1px;
    font-size: 1.2em;
    color: #fff;
    width: 800px
}
::-webkit-input-placeholder { /*chrome/safari/Opera */ 
    color: #ddd;
    font-style: italic;
    font-size: .8em;
}
::-moz-placeholder { /*Firefox */ 
    color: #ddd;
    font-style: italic;
    font-size: .8em;
}
:-ms-input-placeholder { /* IE */
    color: #ddd;
    font-style: italic;
    font-size: .8em;
}
/* p치gina banho e tosa - formul치rio */
#banhoEtosa fieldset {
    background-color: #fff;
    border: none;
    border-radius: 0 15px;
    margin-bottom: 20px;
}
#banhoEtosa fieldset legend{
    background-color: #c0262c;
    color: #fff;
    font-weight: bold;
    letter-spacing: .05em;
    padding: 10px;
    margin-left: -13px;
}
#banhoEtosa fieldset label {
    display: block;
    margin-top: 7px;
    float: left;
    width: 115px;
}
#banhoEtosa fieldset input [type="text"],
#banhoEtosa fieldset input [type="email"] {
    border: none;
    border-bottom: #000 solid 1px;
    font-size: 1.2em;
    color: #000;
    width: 770px;
}
#banhoEtosa fieldset textarea {
    width: 770px;
    height: 100px;
    font-size: 1.2em;
    border: #000 solid 1px;
}
#banhoEtosa fieldset label.labelSimples {
    display: inline;
    float: none;
}
#banhoEtosa p {
    text-align: left;
}
#banhoEtosa p:first-line {
    font-size: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-style: inherit;
}
#banhoEtosa main h2 {
    background: #FEF84F url(../multimidia/postit.jpg) no-repeat top left;
    color: #000;
    padding: 35px;
    /*padding: 35 para cada um dos 4 lados 
    tamanho do postit: 277x185px */
    width: 207px;
    /* 35+35=70 > 277-70=207 */
    height: 115px;
    /* 35+35=70 > 185-75=115 */
    font-size: 1.3125em;
    /* 21/16=1.3125em */
    letter-spacing: .07em;
}
/*p치gina quem somos*/
#quemSomos main img {
    float: left;
    margin: 0 20px 20px 0;
    padding: 10px;
    border: solid #c0262c thin;
    background-color: #fff;
}